In [102]:
import pandas as pd

In [103]:
d={'SourceID':["S1","S2","S3","S4"],"Score":[12,8,10,12]}
sources=pd.DataFrame(d)

# Sources Table

In [116]:
sources

  SourceID  Score
0       S1     12
1       S2      8
2       S3     10
3       S4     12

In [105]:
ExtractedData={"SourceID":["S1","S2","S3","S4"],"Offer":[10,10,11,12],"Face Value":[9,9,8,7],"Record Date":['10-11-2020','9-11-2020','11-9-2020','15-12-2020'],
        "Decision":['Final','Recommended','Final','Recommended']}

In [110]:
DividendExtractedDataTable=pd.DataFrame(ExtractedData)

# Dividend Extracted Data

In [111]:
DividendExtractedDataTable

  SourceID  Offer  Face Value Record Date     Decision
0       S1     10           9  10-11-2020        Final
1       S2     10           9   9-11-2020  Recommended
2       S3     11           8   11-9-2020        Final
3       S4     12           7  15-12-2020  Recommended

In [112]:
combined=pd.merge(sources,DividendExtractedDataTable,left_on='SourceID',right_on='SourceID')

# Combined = Sources Table (inner join) Dividend Extracted Data

In [117]:
combined

  SourceID  Score  Offer  Face Value Record Date     Decision
0       S1     12     10           9  10-11-2020        Final
1       S2      8     10           9   9-11-2020  Recommended
2       S3     10     11           8   11-9-2020        Final
3       S4     12     12           7  15-12-2020  Recommended

# Heuristics Algorithm

In [118]:
final_dic={}
for column in combined.columns[2:]:
    dic=combined[column].value_counts().to_dict()
    max=0
    for key in dic.keys():
        score=dic[key]+combined.loc[combined[column] == key]["Score"].max()
        if score>max:
            max=score
            max_key=key
            print("for {} the selected key is {}".format(column,key))
    final_dic[column]=max_key

for Offer the selected key is 10
for Face Value the selected key is 9
for Record Date the selected key is 10-11-2020
for Decision the selected key is Recommended

In [119]:
final_dic

{'Offer': 10,
 'Face Value': 9,
 'Record Date': '10-11-2020',
 'Decision': 'Recommended'}